<style>
.mstheme
{
	separator-image: url(poldrule.gif);
	list-image-1: url(poldbull1.gif);
	list-image-2: url(poldbull2.gif);
	list-image-3: url(poldbull3.gif);

	nav-banner-image: url(poldbnr.gif);

	navbutton-horiz-normal: url(poldhnd.gif);
	navbutton-horiz-pushed: url(poldhns.gif);

	navbutton-vert-normal: url(poldvnd.gif);
	navbutton-vert-pushed: url(poldvns.gif);

	navbutton-home-normal: url(poldhom.gif);

	navbutton-next-normal: url(poldnex.gif);

	navbutton-prev-normal: url(poldpre.gif);

	navbutton-up-normal: url(poldup.gif);

}

.mstheme-bannertxt
{
	font-family: Arial, Helvetica;
	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: right;
	vertical-align: bottom;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: right;
	vertical-align: bottom;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: right;
	vertical-align: bottom;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: left;
	vertical-align: bottom;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: right;
	vertical-align: bottom;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: left;
	vertical-align: bottom;
}
</style>.
