<style>
.mstheme
{
	top-bar-button: url(bloglobalc.gif);
	version: 1.0;
	navbutton-background-color:  rgb(255,255,255);
}
.mstheme-topbar-font
{
	font-family: Bookman Old Style, Times New Roman, Times;
	color: rgb(0,0,0);
}
body
{
	font-family: Bookman Old Style, Times New Roman, Times;
	background-image: url(blobkgde.gif); 
}

h1
{
	font-family: Bookman Old Style, Times New Roman, Times;
}
h2
{
	font-family: Bookman Old Style, Times New Roman, Times;
}
h3
{
	font-family: Bookman Old Style, Times New Roman, Times;
}
h4
{
	font-family: Bookman Old Style, Times New Roman, Times;
}
h5
{
	font-family: Bookman Old Style, Times New Roman, Times;
}
h6
{
	font-family: Bookman Old Style, Times New Roman, Times;
}
</style>.
