vti_encoding:SR|utf8-nl
mailto\:jkuo0131@aol:address.htm
311/t.gif:311/index311.htm
mailto\:henrykuo@ms2.hinet.net:newpage139.htm newpage1.htm newpage127.htm
http\://www.yahoo.com/:favorite.htm
http\://www.msn.com/:favorite.htm
mailto\:ejkuo@aol:address.htm
